
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/web/index" class="site_title"><i class="fa fa-openid"></i> <span>Elasticloud!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="/static/assets/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>欢迎您,</span>
                <h2>yinwoods</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />
  
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> ElastiCloud <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/web/index"> 首页 </a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i> 存储集群 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/web/cluster/storage/create"> 创建 </a></li>
                      <li><a href="/web/cluster/storage/list"> 查看 </a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> 计算集群 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/web/cluster/compute/list">查看</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> 任务 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/web/job/submit"> 提交 </a>
                        <li><a href="/web/job/list"> 查看 </a>
                        </li>
                        <li><a href="/web/job/execute"> 执行 </a>
                        </li>
                    </ul>
                  </li>                  
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Profile">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Help">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              </a>
              <a href="/web/account/logout" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

