{% extends "modules/base.html" %}

{% block page-content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <div class="count">{{ compute_count }}</div>
                  <h3>计算集群</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-hdd-o"></i></div>
                  <div class="count">{{ storage_count }}</div>
                  <h3>存储集群</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
