{% extends "modules/base.html" %}

{% block page-content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>查看任务 <i class="fa fa-sitemap"></i></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>任务信息</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>任务名称</th>
                          <th>描述</th>
                          <th>优先级</th>
                          <th>提交日期</th>
                          <th>状态</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for line in lines %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ line.name }}</td>
                          <td>{{ line.desc }}</td>
                          <td>{{ line.priority  }}</td>
                          <td>{{ line.submit_time }}</td>
                          <td><span class="o">{{ line.stat }}</span></td>
                          <td>
                            <a href=""><i class="fa fa-cloud-upload blue fa-lg"></i></a>
                            <span> &#8203; &#8203; </span>
                            <a href=""><i class="fa fa-trash-o red fa-lg"></i></a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
