{% include "modules/head.html" %}

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="/web/account/login/" method="post">
              <h1>用户登录</h1>
              {% csrf_token %}
              <div>
                  {{ form.username }}
              </div>
              <div>
                  {{ form.password }}
              </div>
              <div>
                <button type="submit" class="btn btn-default submit">登录</button>
                <a class="reset_pass" href="#">忘记密码？</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">初次到来？
                  <a href="#signup" class="to_register"> 创建账户 </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-openid"></i> ElastiCloud!</h1>
                  <p>©2017 All Rights Reserved.</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form action='/web/account/register/' method='POST'>
              {% csrf_token %}
              <h1>用户注册</h1>
              <div>
                <input type="text" name="username" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <input type="password" name="re_password" class="form-control" placeholder="Repeat Password" required="" />
              </div>
              <div>
                <input type="email" name="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <button type="submit" class="btn btn-default">提交</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">已有账号？
                  <a href="#signin" class="to_register"> 登录 </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-openid"></i> ElastiCloud!</h1>
                  <p>©2017 All Rights Reserved.</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
