{% extends "web/base/base.html" %}
{% block page-header %}Dashboard{% endblock %}
{% block page-header-1 %}View{% endblock %}

{% block page-content %}
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="lighter">
                <i class="icon-signal"></i>
                Resource statistics
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main padding-4">
                <div class="infobox-container" style="text-align: left">
                    <div class="infobox infobox-green  ">
                        <div class="infobox-icon">
                            <i class="icon-desktop"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">{{ compute_count }}</span>
                            <div class="infobox-content">Compute Yarn</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue  ">
                        <div class="infobox-icon">
                            <i class="icon-hdd"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">{{ storage_count }}</span>
                            <div class="infobox-content">Storage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline_script %}
    <script type="text/javascript">
        jQuery(function ($) {
            $('.easy-pie-chart.percentage').each(function () {
                var $box = $(this).closest('.infobox');
                var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
                var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
                var size = parseInt($(this).data('size')) || 50;
                $(this).easyPieChart({
                    barColor: barColor,
                    trackColor: trackColor,
                    scaleColor: false,
                    lineCap: 'butt',
                    lineWidth: parseInt(size / 10),
                    animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
                    size: size
                });
            })
        });
    </script>
{% endblock %}
