{% extends "web/base/base.html" %}
{% block page-header %}Execute{% endblock %}
{% block page-header-1 %}List{% endblock %}
{% block page_css %}
   <link href="/static/ace/assets/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
{% endblock %}
{% block page-content %}
    {% load web_tags %}
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">Execute History</h3>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Job</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>YARN</th>
                        <th>HDFS</th>
                        <th>
                            <i class="icon-time bigger-110 hidden-480"></i>
                            Execute Time
                        </th>
                        <th>Operation</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for line in lines %}
                        <tr>
                            <td>
                                {{ line.job.name }}
                            </td>
                            <td>{{ line.job.desc }}</td>
                            <td>{{ line.job.priority | priority_text }}</td>
                            <td><a href="http://{{ line.c_ip }}:8088/" target="_blank">{{ line.c_ip }}</a></td>
                            <td><a href="http://{{ line.s_ip }}:50070/" target="_blank">{{ line.s_ip }}</a></td>

                            <td>{{ line.execute_time }}</td>

                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <a class="blue" href="http://{{ line.c_ip }}:8081/" target="_blank">
                                        <i class="icon-bar-chart bigger-130">&nbsp;</i>
                                    </a>
                                    <a class="red" href="#" onclick="del('{{ line.id }}','{{ line.job.name }}');">
                                        <i class="icon-trash bigger-130"></i>
                                    </a>

                                </div>

                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="inline position-relative">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                data-toggle="dropdown">
                                            <i class="icon-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_js %}
    <script src="/static/ace/assets/js/jquery.dataTables.min.js"></script>
    <script src="/static/ace/assets/js/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block inline_script %}
    <script type="text/javascript">
         $(document).ready(function () {
            $('#sample-table-2').DataTable();
        });

        function del(id, name) {
            if (confirm("确认删除:" + name + " ?")) {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'web:job_execute_delete' %}",
                    data: "id=" + id,
                    success: function (msg) {
                        if (msg == 'true') {
                            alert("Success!")
                            window.location.reload();
                        } else {
                            alert("Failed!")
                        }

                    },
                    error: function () {
                    }
                });
            }
        }

    </script>
{% endblock %}
