{% extends "web/base/base.html" %}
{% block page-header %}Job{% endblock %}
{% block page-header-1 %}List{% endblock %}
{% block page_css %}
    <link href="/static/ace/assets/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
{% endblock %}
{% block page-content %}
    {% load web_tags %}
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">Job Table</h3>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>
                            <i class="icon-time bigger-110 hidden-480"></i>
                            Submit Date
                        </th>
                        <th class="hidden-480">Status</th>
                        <th>Operation</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for line in lines %}
                        <tr>
                            <td>
                                {{ line.name }}
                            </td>
                            <td>{{ line.desc }}</td>
                            <td>{{ line.priority | priority_text }}</td>

                            <td>{{ line.submit_time }}</td>

                            <td class="hidden-480">
                                <span class="label label-sm label-success">{{ line.stat }}</span>
                            </td>

                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <a class="blue" href="#" onclick="launch('{{ line.id }}','{{ line.name }}');">
                                        <i class="icon-cloud-upload bigger-130">&nbsp;</i>
                                    </a>

                                    <a class="red" href="#" onclick="del('{{ line.id }}','{{ line.name }}');">
                                        <i class="icon-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_js %}

    <script src="/static/ace/assets/js/jquery.dataTables.min.js"></script>
    <script src="/static/ace/assets/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/common/js/mask.js"></script>
{% endblock %}
{% block inline_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-table-2').DataTable({
                "pagingType":   "full_numbers"
              } );
        });

        function del(id, name) {
            if (confirm("确认删除:" + name + " ?")) {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'web:job_delete' %}",
                    data: "id=" + id,
                    success: function (msg) {
                        if (msg == 'true') {
                            alert("Success!")
                            window.location.reload();
                        } else {
                            alert("Failed!")
                        }

                    },
                    error: function () {
                    }
                });
            }
        }

        function launch(id, name) {
            if (confirm("启动任务:" + name + " ?")) {
                MaskUtil.mask("Launch...");
                $.ajax({
                    type: 'GET',
                    url: "{% url 'web:job_launch' %}",
                    data: "id=" + id,
                    success: function (msg) {
                        MaskUtil.unmask();
                        alert(msg)
                        window.location.reload();

                    },
                    error: function () {
                        MaskUtil.unmask();
                        alert("Error! Please check your docker proxy server.")
                    }
                });
            }
        }

    </script>
{% endblock %}
