{% extends "web/base/base.html" %}
{% block page-header %}Job{% endblock %}
{% block page-header-1 %}Submit{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/ace/assets/css/jquery.gritter.css"/>
{% endblock %}
{% block page-content %}
    <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Job Name </label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" placeholder="Name" class="col-xs-10 col-sm-5" name="name"
                       required/>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Description </label>

            <div class="col-sm-9">
                <input type="text" id="form-field-2" placeholder="Description" class="col-xs-10 col-sm-5"
                       name="description" required/>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Run Priority </label>

            <div class="col-sm-9">
                <select class="form-control" style="width: 41.6666%" id="priority" name="priority">
                    <option value="3">High</option>
                    <option value="2" selected>Medium</option>
                    <option value="1">Low</option>
                </select>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> Executable Zip </label>

            <div class="col-sm-9">
                <input type="file" id="id-input-file-2" class="col-xs-10 col-sm-5  required" name="upload_file" required/>
            </div>
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    Submit
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    Reset
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block page_js %}
    <script src="/static/ace/assets/js/jquery.gritter.min.js"></script>
{% endblock %}
{% block inline_script %}
    <script type="text/javascript">
        jQuery(function ($) {
            $('#id-input-file-1 , #id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false //| true | large
                //whitelist:'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            });
            {% if message %}
                $.gritter.add({
                    title: 'Notification',
                    text: '{{ message }}',
                    class_name: 'gritter-info gritter-light'
                });
            {% endif %}
        });
    </script>
{% endblock %}
